extends layout

block content

  form(class='new-message-form' action="/new" method='POST')
    label(for="new message text")
    textarea(class='new-message-textarea' name="text", cols="30", rows="10" placeholder="message")
    label(for="user")
    input(class='new-message-user' name='user' type="text" placeholder="name")
    button(class="new-msg-a" type='submit') submit