extends layout

block content

  form(class='new-message-form' action="/new" method='POST')
    label(for="new message text")
    textarea(class='new-message-textarea' name="", cols="30", rows="10" placeholder="message")
    label(for="user")
    input(class='new-message-user' type="text" placeholder="name")
    button(type='submit') submit