doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    header(class='header')
      h2 Message Board
      p speak your mind freely

    div(class='main')
      block content
