@import './header.css';
@import './messages.css';
@import './newMessage.css';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #00b7ff;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
